<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Qwqer_Express>
            <version>0.0.5</version>
        </Qwqer_Express>
    </modules>
    <global>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <is_qwqer_available/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote>
                <qwqer_address>
                    <to_order>*</to_order>
                </qwqer_address>
            </sales_convert_quote>
            <sales_convert_order>
                <qwqer_address>
                    <to_quote>*</to_quote>
                </qwqer_address>
            </sales_convert_order>
        </fieldsets>
        <models>
            <qwqer_express>
                <class>Qwqer_Express_Model</class>
            </qwqer_express>
            <qwqer_express_carrier>
                <class>Qwqer_Express_Model_Carrier</class>
            </qwqer_express_carrier>
        </models>
        <helpers>
            <qwqer_express>
                <class>Qwqer_Express_Helper</class>
            </qwqer_express>
            <customer>
                <rewrite>
                    <address>Qwqer_Express_Helper_Address</address>
                </rewrite>
            </customer>
        </helpers>
        <blocks>
            <qwqer_express>
                <class>Qwqer_Express_Block</class>
            </qwqer_express>
        </blocks>
        <resources>
            <qwqer_express_setup>
                <setup>
                    <module>Qwqer_Express</module>
                </setup>
            </qwqer_express_setup>
        </resources>
        <events>
            <sales_model_service_quote_submit_before>
                <observers>
                    <sync_order_and_shipping_method>
                        <model>qwqer_express/observer</model>
                        <method>syncAndUpdateShippingInformation</method>
                    </sync_order_and_shipping_method>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_quote_collect_totals_after>
                <observers>
                    <set_shipping_method_description_title>
                        <class>qwqer_express/observer</class>
                        <method>setShippingMethodDescription</method>
                    </set_shipping_method_description_title>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
    </global>
    <frontend>
        <routers>
            <qwqer>
                <use>standard</use>
                <args>
                    <module>Qwqer_Express</module>
                    <frontName>qwqer</frontName>
                </args>
            </qwqer>
        </routers>
        <layout>
            <updates>
                <qwqer_express>
                    <file>qwqer/express.xml</file>
                </qwqer_express>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <qwqer after="Mage_Adminhtml">Qwqer_Express</qwqer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <your_module>
                        <class>qwqer_express/observer</class>
                        <type>singleton</type>
                        <method>adminhtmlWidgetContainerHtmlBeforeButton</method>
                    </your_module>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>
    <!-- Default configuration -->
    <default>
        <carriers>
            <qwqer_express>
                <active>1</active>
                <model>qwqer_express_carrier/express</model>
                <title>QWQER Express</title>
                <name>Vakara piegāde (šodien)</name>
                <category>Other</category>
                <api_bearer_token>VWn17MYTcMA4SOsoHh5FKdDDa6S4ZFKYaqQZBeq1</api_bearer_token>
                <auth_endpoint>https://qwqer.hostcream.eu/api</auth_endpoint>
                <trading_point_id>2</trading_point_id>
                <store_address>The Riga Central Library regional branch Plavnieki, Salnas iela, Latgale Suburb, Rīga, Latvia</store_address>
                <geo_store>56.9420606,24.2202912</geo_store>
                <shipping_cost>3</shipping_cost>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </qwqer_express>
            <qwqer_door>
                <active>1</active>
                <model>qwqer_express_carrier/door</model>
                <title>QWQER piegāde</title>
                <name>(ŠODIEN 18:00 - 22:00)</name>
                <shipping_cost>3</shipping_cost>
                <sort_order>11</sort_order>
                <sallowspecific>0</sallowspecific>
            </qwqer_door>
            <qwqer_parcel>
                <active>1</active>
                <model>qwqer_express_carrier/parcel</model>
                <title>QWQER piegāde uz Omniva pakomātu</title>
                <name>(ŠODIEN 18:00 - 22:00)</name>
                <parcel_size>L</parcel_size>
                <shipping_cost>3</shipping_cost>
                <sort_order>12</sort_order>
                <sallowspecific>0</sallowspecific>
            </qwqer_parcel>
        </carriers>
    </default>
</config>
